/*
  Inspirations: 
  colors: [Material design 2014 gray color pallete](https://material.io/design/color/the-color-system.html)
  css : [Jan-Lukas Else's website](https://jlelse.blog/)
*/
body {
  background-color: #fafafa;
  color: #212121;
  font-family: system-ui, sans-serif;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 1024px;
  padding: 8px;
  text-align: left;
  word-break: break-word;
  overflow-wrap: break-word;
  transition: background-color 300ms ease-in-out 0s;
}
body * {
  max-width: 100%;
}
body ::selection {
  background-color: #212121;
  color: #fafafa;
}

nav {
  background-color: #fafafa;
  color: #212121;
  text-align: right;
  font-family: system-ui, sans-serif;
  font-size: 1.1em;
}

button {
  background-color: #fafafa;
  color: #212121;
  border: 1px solid #212121;
}

img {
  max-width: 100%;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #fafafa;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

pre {
  font-family: monospace;
  background-color: #fafafa;
  color: #212121;
  font-size: 1.1em;
  border: 2px solid #212121;
  border-radius: 7px;
  padding: 10px;
  white-space: pre-wrap;
}

a {
  background-color: #fafafa;
  color: #212121;
  text-decoration: underline;
  padding: 0 1px;
}

a:hover {
  background-color: #212121;
  color: #fafafa;
  text-decoration: none;
}

blockquote {
  background-color: #fafafa;
  color: #212121;
  font-style: italic;
  font-size: 90%;
  padding-left: 20px;
  border-left: 1px solid #212121;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}
@media screen and (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
table thead {
  background-color: #e0e0e0;
}
table thead th {
  padding: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid #424242;
  white-space: nowrap;
}
table thead th:first-child {
  border-top-left-radius: 0.5rem;
}
table thead th:last-child {
  border-top-right-radius: 0.5rem;
}
table tbody tr {
  border-bottom: 1px solid #424242;
  transition: background-color 0.2s ease;
}
table tbody tr:hover {
  background-color: #e0e0e0;
}
table tbody tr:last-child {
  border-bottom: none;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
table tbody td {
  padding: 1rem;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #fafafa;
  }
  body ::selection {
    background-color: #fafafa;
    color: #212121;
  }
  nav {
    background-color: #212121;
    color: #fafafa;
  }
  button {
    background-color: #212121;
    color: #fafafa;
    border: 1px solid #fafafa;
  }
  :not(pre) > code {
    background-color: #212121;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 4px;
  }
  pre {
    background-color: #212121;
    color: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 7px;
  }
  a {
    background-color: #212121;
    color: #fafafa;
    text-decoration: underline;
  }
  a:hover {
    background-color: #fafafa;
    color: #212121;
    text-decoration: none;
  }
  blockquote {
    background-color: #212121;
    color: #fafafa;
    border-left: 1px solid #fafafa;
  }
}

/*# sourceMappingURL=style.css.map */
